Repository flowacademyhu/eta-company-calendar, pull requests merged in 2020-02, with the labels that each got.

#36 I13 authentication login
  eta-company-calendar-frontend/src/app/app-routing.module.ts
  eta-company-calendar-frontend/src/app/login/components/login.component.ts
  eta-company-calendar-frontend/src/app/login/login-routing.module.ts
  eta-company-calendar-frontend/src/app/login/login.module.ts
  eta-company-calendar-frontend/src/app/shared/api-connectors/AuthApiConnector.ts
  eta-company-calendar-frontend/src/app/shared/guards/auth.guard.ts
  eta-company-calendar-frontend/src/app/shared/interceptors/auth-interceptor.service.ts
  eta-company-calendar-frontend/src/app/shared/material.module.ts
  eta-company-calendar-frontend/src/app/shared/models/auth-response.model.ts
  eta-company-calendar-frontend/src/app/shared/services/api-communication.service.ts
  eta-company-calendar-frontend/src/app/shared/shared.module.ts
  eta-company-calendar-frontend/src/assets/i18n/en.json
  eta-company-calendar-frontend/src/assets/i18n/hu.json
  eta-company-calendar-frontend/src/environments/environment.ts
Labels: frontend

#24 I10 profil
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/controller/ProfileResource.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/Profile.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/User.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/dto/ProfileDTO.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/repository/ProfileRepository.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/repository/UserRepository.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/service/ProfileService.java
  eta-company-calendar-backend/src/main/resources/application.yaml
Labels: backend

#37 I29 menupontok letrehozasa
  eta-company-calendar-frontend/src/app/footer/components/footer.component.ts
  eta-company-calendar-frontend/src/app/header/components/header.component.ts
  eta-company-calendar-frontend/src/app/header/header.module.ts
  eta-company-calendar-frontend/src/app/shared/pages/main-layout.component.ts
  eta-company-calendar-frontend/src/app/shared/shared.module.ts
  eta-company-calendar-frontend/src/assets/i18n/en.json
  eta-company-calendar-frontend/src/assets/i18n/hu.json
Labels: frontend

#33 I17 meeting alapműveletek
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/controller/MeetingResource.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/Location.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/Meeting.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/Reminder.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/User.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/dto/MeetingDTO.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/repository/MeetingRepository.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/service/MeetingService.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/utils/InitDataLoader.java
  eta-company-calendar-backend/src/test/resources/I17-meeting-alapmuveletek-POSTMAN.json
Labels: backend

#39 I38 login form
  .DS_Store
  eta-company-calendar-frontend/src/app/login/components/login.component.scss
  eta-company-calendar-frontend/src/app/login/components/login.component.ts
  eta-company-calendar-frontend/src/assets/images/bgp.jpg
  eta-company-calendar-frontend/src/styles.scss
Labels: frontend

#40 I35 user
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/controller/UserResource.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/Profile.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/User.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/dto/UserRequestDTO.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/dto/UserResponseDTO.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/repository/UserRepository.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/service/ProfileService.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/service/UserService.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/utils/InitDataLoader.java
Labels: backend

#48 I47 Kijelentkezés button kivéve Login oldalról.
  eta-company-calendar-frontend/src/app/login/components/login.component.scss
  eta-company-calendar-frontend/src/app/login/components/login.component.ts
Labels: frontend

#46 I41 welcome modul ui modositasa
  .DS_Store
  eta-company-calendar-frontend/src/app/footer/components/footer.component.ts
  eta-company-calendar-frontend/src/app/header/components/header.component.ts
  eta-company-calendar-frontend/src/app/welcome/components/welcome-description.component.ts
  eta-company-calendar-frontend/src/assets/images/bgp.jpg
  eta-company-calendar-frontend/src/styles.scss
Labels: frontend

#44 I14 saját profil megtekintése
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/controller/EmailResource.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/dto/EmailDTO.java
  eta-company-calendar-frontend/src/app/app-routing.module.ts
  eta-company-calendar-frontend/src/app/header/components/header.component.ts
  eta-company-calendar-frontend/src/app/models/profile.model.ts
  eta-company-calendar-frontend/src/app/profil/profil-wiew/components/profile-description.component.scss
  eta-company-calendar-frontend/src/app/profil/profil-wiew/components/profile-description.component.ts
  eta-company-calendar-frontend/src/app/profil/profil-wiew/profile-routing.module.ts
  eta-company-calendar-frontend/src/app/profil/profil-wiew/profile.module.ts
  eta-company-calendar-frontend/src/app/shared/api-connectors/ProfileApiConnector.ts
  eta-company-calendar-frontend/src/app/shared/material.module.ts
  eta-company-calendar-frontend/src/app/shared/services/api-communication.service.ts
  eta-company-calendar-frontend/src/assets/i18n/bgp.jpg
  eta-company-calendar-frontend/src/assets/i18n/en.json
  eta-company-calendar-frontend/src/assets/i18n/hu.json
Labels: frontend

#53 adding travis config
  .travis.yml
  eta-company-calendar-backend/pom.xml
  eta-company-calendar-backend/src/main/resources/application.yaml
Labels: mentor-action

#51 Converted LocalDateTime variables to Long timestamp.
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/Meeting.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/Reminder.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/dto/MeetingDTO.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/dto/ReminderDTO.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/service/MeetingService.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/utils/InitDataLoader.java
Labels: backend

#69 Refresh token javítása
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/config/AuthConfig.java
Labels: backend

#91 I90 meeting query
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/controller/MeetingResource.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/dto/MeetingListItemDTO.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/repository/MeetingRepository.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/service/MeetingService.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/utils/InitDataLoader.java
Labels: backend

#88 I86 meeting create dto
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/controller/MeetingResource.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/dto/MeetingCreateDTO.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/repository/UserRepository.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/service/MeetingService.java
Labels: backend

#85 I28 create meeting
  eta-company-calendar-frontend/package-lock.json
  eta-company-calendar-frontend/package.json
  eta-company-calendar-frontend/src/app/calendar/calendar.module.ts
  eta-company-calendar-frontend/src/app/calendar/components/calendar.component.ts
  eta-company-calendar-frontend/src/app/calendar/modals/meeting-create.component.css
  eta-company-calendar-frontend/src/app/calendar/modals/meeting-create.component.html
  eta-company-calendar-frontend/src/app/calendar/modals/meeting-create.component.ts
  eta-company-calendar-frontend/src/app/models/location.model.ts
  eta-company-calendar-frontend/src/app/models/meeting-detail.model.ts
  eta-company-calendar-frontend/src/app/models/recurring.model.ts
  eta-company-calendar-frontend/src/app/shared/material.module.ts
  eta-company-calendar-frontend/src/app/shared/shared.module.ts
  eta-company-calendar-frontend/src/assets/i18n/en.json
  eta-company-calendar-frontend/src/assets/i18n/hu.json
  eta-company-calendar-frontend/src/styles.scss
  eta-company-calendar-frontend/tslint.json
Labels: frontend

#89 I78 user list
  eta-company-calendar-frontend/src/_globals.scss
  eta-company-calendar-frontend/src/app/calendar/calendar.module.ts
  eta-company-calendar-frontend/src/app/header/components/HeaderComponent.ts
  eta-company-calendar-frontend/src/app/models/user-response.model.ts
  eta-company-calendar-frontend/src/app/shared/api-connectors/UserApiConnector.ts
  eta-company-calendar-frontend/src/app/shared/material.module.ts
  eta-company-calendar-frontend/src/app/shared/shared.module.ts
  eta-company-calendar-frontend/src/app/user-management/components/user-list.component.ts
  eta-company-calendar-frontend/src/app/user-management/components/user-management-description.component.ts
  eta-company-calendar-frontend/src/app/user-management/modals/new-user.component.ts
  eta-company-calendar-frontend/src/app/user-management/service/user-service.ts
  eta-company-calendar-frontend/src/app/user-management/user-management.module.ts
  eta-company-calendar-frontend/src/assets/i18n/en.json
  eta-company-calendar-frontend/src/assets/i18n/hu.json
Labels: frontend

#31 I18-Email küldés
  eta-company-calendar-backend/pom.xml
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/CompanycalendarApplication.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/config/mailing/Mailgun.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/config/mailing/MailingConfig.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/email/EmailFactory.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/email/EmailService.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/email/EmailType.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/email/MailGunEmailService.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/service/UserService.java
  eta-company-calendar-backend/src/main/resources/application.yaml
Labels: backend

#87 I72 header minimalista megtervezese
  eta-company-calendar-frontend/src/app/header/components/header.component.ts
  eta-company-calendar-frontend/src/app/models/nav-item.ts
  eta-company-calendar-frontend/src/app/profil/profil-wiew/components/profile-description.component.scss
  eta-company-calendar-frontend/src/app/shared/material.module.ts
  eta-company-calendar-frontend/src/app/shared/shared.module.ts
  eta-company-calendar-frontend/src/assets/images/csigalogopng.png
Labels: frontend

#92 I84 user reminder list
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/controller/ReminderResource.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/repository/ReminderRepository.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/service/ReminderService.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/utils/InitDataLoader.java
  eta-company-calendar-frontend/src/app/app-routing.module.ts
  eta-company-calendar-frontend/src/app/header/components/header.component.ts
  eta-company-calendar-frontend/src/app/models/reminder.model.ts
  eta-company-calendar-frontend/src/app/reminder/components/reminder-description.component.ts
  eta-company-calendar-frontend/src/app/reminder/reminder-routing.module.ts
  eta-company-calendar-frontend/src/app/reminder/reminder.module.ts
  eta-company-calendar-frontend/src/app/reminder/service/reminder.service.ts
  eta-company-calendar-frontend/src/app/shared/api-connectors/ReminderApiConnector.ts
  eta-company-calendar-frontend/src/app/shared/services/api-communication.service.ts
  eta-company-calendar-frontend/src/assets/i18n/en.json
  eta-company-calendar-frontend/src/assets/i18n/hu.json
Labels: backend, frontend

#108 meeting time range
  eta-company-calendar-frontend/src/app/calendar/components/calendar.component.ts
Labels: frontend

#99 I55 token enhance
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/config/AuthConfig.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/config/CustomTokenEnhancer.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/config/RevokeTokenEndpoint.java
Labels: backend

#109 I100 update user details
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/service/UserService.java
  eta-company-calendar-frontend/src/app/shared/api-connectors/UserApiConnector.ts
  eta-company-calendar-frontend/src/app/user-management/components/user-list.component.ts
  eta-company-calendar-frontend/src/app/user-management/modals/edit-user.component.ts
  eta-company-calendar-frontend/src/app/user-management/modals/new-user.component.ts
  eta-company-calendar-frontend/src/app/user-management/modals/password-validator.ts
  eta-company-calendar-frontend/src/app/user-management/service/user-service.ts
  eta-company-calendar-frontend/src/app/user-management/user-management.module.ts
  eta-company-calendar-frontend/src/assets/i18n/en.json
  eta-company-calendar-frontend/src/assets/i18n/hu.json
Labels: frontend

#114 changed input type from datetime-local to datetime
  eta-company-calendar-frontend/src/app/calendar/modals/meeting-create.component.html
Labels: frontend

#97 I80 user meetingek listazasa
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/controller/MeetingResource.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/repository/MeetingRepository.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/service/MeetingService.java
  eta-company-calendar-frontend/src/_globals.scss
  eta-company-calendar-frontend/src/app/app-routing.module.ts
  eta-company-calendar-frontend/src/app/header/components/header.component.ts
  eta-company-calendar-frontend/src/app/my-meetings/components/my-meetings-description.component.ts
  eta-company-calendar-frontend/src/app/my-meetings/my-meetings-routing.module.ts
  eta-company-calendar-frontend/src/app/my-meetings/my-meetings.module.ts
  eta-company-calendar-frontend/src/app/my-meetings/service/meeting.service.ts
  eta-company-calendar-frontend/src/app/shared/api-connectors/MeetingApiConnector.ts
  eta-company-calendar-frontend/src/app/shared/material.module.ts
  eta-company-calendar-frontend/src/app/shared/modals/meeting-details.component.ts
  eta-company-calendar-frontend/src/assets/i18n/en.json
  eta-company-calendar-frontend/src/assets/i18n/hu.json
Labels: frontend

#118 added endpoint for getting users direct employees
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/controller/UserResource.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/Roles.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/User.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/service/UserService.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/utils/InitDataLoader.java
Labels: backend

#116 I93 service exception atirasa
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/controller/ReminderResource.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/exception/CommentNotFoundException.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/exception/GlobalExceptionHandler.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/exception/MeetingNotFoundException.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/exception/NotFoundException.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/exception/ProfileNotFoundException.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/exception/ReminderNotFoundException.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/exception/UserAlreadyExistException.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/exception/UserNotFoundException.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/Comment.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/Reminder.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/service/CommentService.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/service/MeetingService.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/service/ProfileService.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/service/ReminderService.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/service/UserService.java
  eta-company-calendar-frontend/src/app/header/components/header.component.ts
Labels: backend

#121 I101 view employees
  eta-company-calendar-frontend/src/app/calendar/components/calendar.component.ts
  eta-company-calendar-frontend/src/app/calendar/modals/meeting-create.component.html
  eta-company-calendar-frontend/src/app/calendar/modals/meeting-create.component.ts
  eta-company-calendar-frontend/src/app/shared/api-connectors/UserApiConnector.ts
  eta-company-calendar-frontend/src/assets/i18n/en.json
  eta-company-calendar-frontend/src/assets/i18n/hu.json
Labels: frontend

#123 I106 confirm delete dialog
  eta-company-calendar-frontend/src/app/user-management/components/user-list.component.ts
  eta-company-calendar-frontend/src/app/user-management/modals/delete-user.component.ts
  eta-company-calendar-frontend/src/app/user-management/user-management.module.ts
  eta-company-calendar-frontend/src/assets/i18n/en.json
  eta-company-calendar-frontend/src/assets/i18n/hu.json
Labels: frontend

#127 I119 userlist profil
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/controller/ProfileResource.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/Profile.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/User.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/dto/ProfileDTO.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/repository/ProfileRepository.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/service/ProfileService.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/service/UserService.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/utils/InitDataLoader.java
  eta-company-calendar-frontend/src/app/header/components/header.component.ts
  eta-company-calendar-frontend/src/app/header/header.module.ts
  eta-company-calendar-frontend/src/app/models/profile.model.ts
  eta-company-calendar-frontend/src/app/shared/api-connectors/ProfileApiConnector.ts
  eta-company-calendar-frontend/src/app/shared/material.module.ts
  eta-company-calendar-frontend/src/app/shared/modals/profil-view-dialog.component.ts
  eta-company-calendar-frontend/src/app/shared/modals/profile-edit-dialog.component.ts
  eta-company-calendar-frontend/src/app/shared/services/api-communication.service.ts
  eta-company-calendar-frontend/src/app/shared/shared.module.ts
  eta-company-calendar-frontend/src/app/user-management/components/user-list.component.ts
  eta-company-calendar-frontend/src/assets/i18n/en.json
  eta-company-calendar-frontend/src/assets/i18n/hu.json
Labels: backend, frontend

#129 I128 recurring meeting backend
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/Meeting.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/RRule.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/dto/MeetingCreateDTO.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/dto/MeetingListItemDTO.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/repository/MeetingRepository.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/utils/InitDataLoader.java
Labels: backend
