Repository flowacademyhu/eta-company-calendar, pull requests merged in 2020-03, with the labels that each got.

#144 I142 recurring meetings
  eta-company-calendar-frontend/package-lock.json
  eta-company-calendar-frontend/package.json
  eta-company-calendar-frontend/src/app/calendar/calendar.module.ts
  eta-company-calendar-frontend/src/app/calendar/components/calendar.component.ts
  eta-company-calendar-frontend/src/app/calendar/components/recurrence-show.component.ts
  eta-company-calendar-frontend/src/app/calendar/modals/meeting-create.component.html
  eta-company-calendar-frontend/src/app/calendar/modals/meeting-create.component.ts
  eta-company-calendar-frontend/src/app/calendar/modals/recurrence-select.component.html
  eta-company-calendar-frontend/src/app/calendar/modals/recurrence-select.component.ts
  eta-company-calendar-frontend/src/app/calendar/models/recurrence-dialog-data.model.ts
  eta-company-calendar-frontend/src/app/models/meeting-detail.model.ts
  eta-company-calendar-frontend/src/app/models/meeting-list-item.model.ts
  eta-company-calendar-frontend/src/app/models/recurrence.model.ts
  eta-company-calendar-frontend/src/app/models/rrule.model.ts
  eta-company-calendar-frontend/src/app/shared/material.module.ts
  eta-company-calendar-frontend/src/assets/i18n/en.json
  eta-company-calendar-frontend/src/assets/i18n/hu.json
Labels: frontend

#141 I133 on meeting click
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/dto/MeetingDTO.java
  eta-company-calendar-frontend/src/app/calendar/calendar.module.ts
  eta-company-calendar-frontend/src/app/calendar/components/calendar.component.ts
  eta-company-calendar-frontend/src/app/models/meeting-list-item.model.ts
  eta-company-calendar-frontend/src/app/shared/api-connectors/MeetingApiConnector.ts
  eta-company-calendar-frontend/src/app/shared/modals/meeting-details.component.ts
  eta-company-calendar-frontend/src/app/shared/shared.module.ts
Labels: frontend

#151 bug fixes
  eta-company-calendar-frontend/src/app/app.module.ts
  eta-company-calendar-frontend/src/app/calendar/calendar.module.ts
  eta-company-calendar-frontend/src/app/calendar/components/calendar.component.ts
  eta-company-calendar-frontend/src/app/calendar/modals/event-reminder-selector.component.ts
  eta-company-calendar-frontend/src/app/calendar/modals/meeting-create.component.ts
  eta-company-calendar-frontend/src/app/event-reminder-selector/event-reminder-selector.component.html
  eta-company-calendar-frontend/src/app/event-reminder-selector/event-reminder-selector.component.scss
  eta-company-calendar-frontend/src/app/models/meeting-detail.model.ts
  eta-company-calendar-frontend/src/app/my-meetings/my-meetings.module.ts
Labels: frontend

#154 auto set enddate date-time picker to start-date-time + 1 hour.
  eta-company-calendar-frontend/src/app/calendar/modals/meeting-create.component.html
  eta-company-calendar-frontend/src/app/calendar/modals/meeting-create.component.ts
Labels: frontend

#152 I146 meeting dialog delete button
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/Meeting.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/RRule.java
  eta-company-calendar-frontend/src/app/calendar/components/calendar.component.ts
  eta-company-calendar-frontend/src/app/my-meetings/service/meeting.service.ts
  eta-company-calendar-frontend/src/app/shared/api-connectors/MeetingApiConnector.ts
  eta-company-calendar-frontend/src/app/shared/modals/delete-meeting.component.ts
  eta-company-calendar-frontend/src/app/shared/modals/meeting-details.component.ts
  eta-company-calendar-frontend/src/app/shared/shared.module.ts
  eta-company-calendar-frontend/src/assets/i18n/en.json
  eta-company-calendar-frontend/src/assets/i18n/hu.json
Labels: frontend

#157 Profile gomb levétele a headerből
  eta-company-calendar-frontend/src/app/header/components/header.component.ts
Labels: frontend

#155 I111 naptar nezet fit to screnne reszponzivva tetele es dropdown menu leader eseten modositasa
  eta-company-calendar-frontend/src/app/calendar/components/calendar.component.ts
  eta-company-calendar-frontend/src/assets/i18n/en.json
  eta-company-calendar-frontend/src/assets/i18n/hu.json
Labels: frontend

#161 I147 user profile merge
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/controller/UserResource.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/User.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/dto/UserRequestDTO.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/dto/UserResponseDTO.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/repository/UserRepository.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/service/UserService.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/utils/InitDataLoader.java
  eta-company-calendar-frontend/src/app/models/user-response.model.ts
  eta-company-calendar-frontend/src/app/models/user.model.ts
  eta-company-calendar-frontend/src/app/shared/api-connectors/UserApiConnector.ts
  eta-company-calendar-frontend/src/app/user-management/modals/edit-user.component.ts
  eta-company-calendar-frontend/src/app/user-management/modals/new-user.component.ts
  eta-company-calendar-frontend/src/app/user-management/service/user-service.ts
  eta-company-calendar-frontend/src/assets/i18n/en.json
  eta-company-calendar-frontend/src/assets/i18n/hu.json
Labels: backend, frontend

#169 Mukodo calendar mindket nezetben bugfix, cursor pointer event eseten
  eta-company-calendar-frontend/src/_globals.scss
  eta-company-calendar-frontend/src/app/calendar/components/calendar.component.ts
Labels: frontend

#172 I143 user profile update
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/service/UserService.java
  eta-company-calendar-frontend/src/app/user-management/components/user-management-description.component.ts
  eta-company-calendar-frontend/src/app/user-management/modals/edit-user.component.ts
  eta-company-calendar-frontend/src/assets/i18n/en.json
  eta-company-calendar-frontend/src/assets/i18n/hu.json
Labels: frontend

#175 I158 autocomplete user select
  eta-company-calendar-frontend/src/app/calendar/calendar.module.ts
  eta-company-calendar-frontend/src/app/calendar/components/attendants.component.ts
  eta-company-calendar-frontend/src/app/calendar/modals/meeting-create.component.html
  eta-company-calendar-frontend/src/app/calendar/modals/meeting-create.component.ts
  eta-company-calendar-frontend/src/app/models/meeting-detail.model.ts
  eta-company-calendar-frontend/src/app/shared/material.module.ts
Labels: frontend

#180 Meeting details ui + modositas button
  eta-company-calendar-frontend/src/app/shared/modals/meeting-details.component.ts
  eta-company-calendar-frontend/src/app/shared/modals/profil-view-dialog.component.scss
  eta-company-calendar-frontend/src/assets/i18n/en.json
  eta-company-calendar-frontend/src/assets/i18n/hu.json
Labels: frontend

#194 I193 meeting create modify
  eta-company-calendar-frontend/src/app/calendar/modals/meeting-create.component.html
  eta-company-calendar-frontend/src/app/calendar/modals/meeting-create.component.ts
  eta-company-calendar-frontend/src/app/shared/api-connectors/MeetingApiConnector.ts
  eta-company-calendar-frontend/src/assets/i18n/en.json
  eta-company-calendar-frontend/src/assets/i18n/hu.json
Labels: frontend

#191 I170 user delete bug fix
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/repository/MeetingRepository.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/service/UserService.java
Labels: backend

#204 meeting-reminder selector dialog: close button added, a-tags removed
  eta-company-calendar-frontend/src/app/calendar/modals/event-reminder-selector.component.ts
  eta-company-calendar-frontend/src/assets/i18n/en.json
  eta-company-calendar-frontend/src/assets/i18n/hu.json
Labels: frontend

#196 meeting endpoint DTO visszaadása
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/controller/MeetingResource.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/dto/MeetingCreateDTO.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/service/MeetingService.java
Labels: backend

#205 I197 globalis ui nyelvi upgrade
  eta-company-calendar-frontend/src/_globals.scss
  eta-company-calendar-frontend/src/app/calendar/components/calendar.component.ts
  eta-company-calendar-frontend/src/app/calendar/modals/meeting-create.component.html
  eta-company-calendar-frontend/src/app/calendar/modals/meeting-create.component.ts
  eta-company-calendar-frontend/src/app/header/components/header.component.ts
  eta-company-calendar-frontend/src/app/my-meetings/components/my-meetings-description.component.ts
  eta-company-calendar-frontend/src/app/reminder/components/reminder-description.component.ts
  eta-company-calendar-frontend/src/app/shared/modals/meeting-details.component.ts
  eta-company-calendar-frontend/src/app/shared/modals/reminder-details.component.ts
  eta-company-calendar-frontend/src/app/user-management/components/user-management-description.component.ts
  eta-company-calendar-frontend/src/assets/i18n/en.json
  eta-company-calendar-frontend/src/assets/i18n/hu.json
  eta-company-calendar-frontend/src/styles.scss
Labels: frontend

#208 I206 email correct locationname
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/Location.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/service/MeetingService.java
Labels: backend

#212 I210 ui komplett egysegesse tetele
  eta-company-calendar-frontend/src/app/calendar/modals/meeting-create.component.css
  eta-company-calendar-frontend/src/app/calendar/modals/meeting-create.component.html
  eta-company-calendar-frontend/src/app/calendar/modals/reminder-create.component.css
  eta-company-calendar-frontend/src/app/calendar/modals/reminder-create.component.html
  eta-company-calendar-frontend/src/app/header/components/header.component.ts
  eta-company-calendar-frontend/src/app/shared/modals/delete-meeting.component.ts
  eta-company-calendar-frontend/src/app/shared/modals/delete-reminder.component.ts
  eta-company-calendar-frontend/src/app/shared/modals/profil-view-dialog.component.scss
  eta-company-calendar-frontend/src/app/shared/modals/reminder-details.component.ts
  eta-company-calendar-frontend/src/app/user-management/modals/delete-user.component.ts
  eta-company-calendar-frontend/src/app/user-management/modals/edit-user.component.ts
  eta-company-calendar-frontend/src/app/user-management/modals/new-user.component.ts
Labels: frontend

#211 CreatedBy probléma megoldása
  eta-company-calendar-frontend/src/app/reminder/components/reminder-description.component.ts
  eta-company-calendar-frontend/src/app/shared/modals/meeting-details.component.ts
Labels: frontend

#213 I25 event modifications
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/controller/MeetingResource.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/dto/MeetingCreateDTO.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/service/MeetingService.java
  eta-company-calendar-frontend/src/app/calendar/calendar.module.ts
  eta-company-calendar-frontend/src/app/calendar/components/calendar.component.ts
  eta-company-calendar-frontend/src/app/calendar/modals/event-reminder-selector.component.ts
  eta-company-calendar-frontend/src/app/shared/api-connectors/MeetingApiConnector.ts
  eta-company-calendar-frontend/src/app/shared/components/attendants.component.ts
  eta-company-calendar-frontend/src/app/shared/components/recurrence-show.component.ts
  eta-company-calendar-frontend/src/app/shared/modals/meeting-create.component.css
  eta-company-calendar-frontend/src/app/shared/modals/meeting-create.component.html
  eta-company-calendar-frontend/src/app/shared/modals/meeting-create.component.ts
  eta-company-calendar-frontend/src/app/shared/modals/meeting-details.component.ts
  eta-company-calendar-frontend/src/app/shared/modals/recurrence-select.component.html
  eta-company-calendar-frontend/src/app/shared/modals/recurrence-select.component.ts
  eta-company-calendar-frontend/src/app/shared/modals/reminder-create.component.css
  eta-company-calendar-frontend/src/app/shared/modals/reminder-create.component.html
  eta-company-calendar-frontend/src/app/shared/modals/reminder-create.component.ts
  eta-company-calendar-frontend/src/app/shared/models/recurrence-dialog-data.model.ts
  eta-company-calendar-frontend/src/app/shared/ng-pick-datetime/datetime-button-text.ts
  eta-company-calendar-frontend/src/app/shared/shared.module.ts
Labels: backend, frontend

#216 before deleting a leader, remove it's id from all affected users
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/model/User.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/repository/UserRepository.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/service/MeetingService.java
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/service/UserService.java
Labels: backend, bug

#225 I214 init data loader update
  eta-company-calendar-backend/src/main/java/hu/flowacademy/companycalendar/utils/InitDataLoader.java
Labels: backend
